@media  screen and (min-width: 950px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: center;
        width: auto;
        margin: 0;
        background: none;
    }

    nav a {
        display: block;
        font-size: 1.1em;
        white-space: nowrap;
    }

}