body {  
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

nav {
    grid-column: 1/3;
    display: flex;
    background-color: #013468;
    width: 100%;
    text-align: center;
}
nav a {
    padding: 1em;
    flex: 1 1 100%;
    text-decoration: none;
    color: #E6E6E6;
    border-bottom: 3px solid #013468;
}
nav a:hover {
    border-bottom: 3px solid #E6E6E6;
    font-weight: 700;
}

header{
    grid-column: 1/3;
    color: #E6E6E6;
    background-color: #333;
    padding: 0;
    
}

header h1 {
    padding: .5em 1em;
    margin: 0;
    font-family: "Fredericka the Great", 'Times New Roman';
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
    padding: 1.5em;
    float: right;
}
.flag {
    float: left;
}

.card {
    background-color: #eee;
    border-radius: .5em;
}
.card h2 {
    text-align: center;
    margin: 0;
    padding: .5em;
    background-color: #9fccfb;
    border-radius: .5em .5em 0 0;
    border: 1px solid #ddd;
}

.card h3 {
    border-bottom: 2px solid #555;
    text-align: center;
    margin: 0 2em;
    padding-bottom: .5em;
    padding-top: 1em;
}

.card p {
    padding: 1.5em;
    margin: 0;
}

.card ul li {
    margin-bottom: 2em; /* Adds space between list items */
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    top: 10.8em;
    left: 5.6em;
    font-size: small;
    font-style: italic;
}

footer {
    grid-column: 1/3;
    color: #ddd;
    padding: .5em 0 2em;
    background-color: #555;
    text-align: center;
}
#lastmodified {
    font-size: small;
    color: yellow;
}