*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --general-font: "Roboto", sans-serif;
    --background: #74ACDF; /*Celeste*/
    --text-background: #FFFFFF; /*White*/
    --accent: #F6B40E; /*Sun Gold*/
    --contrast: #003049; /*Navy Blue Deep Contrast Colour*/
    --weather-icon: url(../images/weather-icon.svg)
}

body {
    font-family: var(--general-font);    
    max-width: 1500px;
    margin: auto;
}

header {
    background-color: var(--accent);
    padding-bottom: 0.25em;
    
}

h1 {
    text-align: center;
    color: var(--text-background);
    background-color: var(--background);
    padding: .5em 1em;
    margin: 0;
    font-family: "Fredericka the Great", 'Times New Roman', serif;
    font-weight: bold;
}

img {
    width: 100%;
    margin: 0;
}

/* not sure how to get rid of white space but using it as a border */
picture {
    background-color: var(--accent);
}

.card {
    border-bottom: 1px solid #c6c4c4;
    text-align: center;
}

.card img {
    margin: -1em;
    width: 150px;
}

.card table {
    padding-bottom: 1em;
    width: 100%;
}

th {
    text-align: end ;
    width: 50%;
}

td {
    text-align: start;
    width: 50%;
}

footer {
    color: var(--text-background);
    background-color: var(--contrast);
    text-align: center;
    padding: 0.5em;
    
}

@media screen and (min-width: 750px){
    h1 {
        padding: 1em;
    }
    h2 {
        position: relative;
        right: .5em;
        text-align: left;
        color: var(--contrast);
        background-color: var(--accent);
        padding: .5em 1em;
        margin: .5em 0;
    }

    .card {
        position: absolute;
        background-color: rgb(238, 238, 238, 0.8);
        padding: 0;
    }
    .card img {
        display: none;
    }

    main {
        position: relative;
        width: 100%;
    }

    .temp {
        position: absolute;
        width: 250px;
        margin: 0;
        right: 1.5em;
        bottom: 3em;
    }

    .temp h2::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        background-image: var(--weather-icon);
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        margin-left: 0.5em;
    }

    .data {
        position: absolute;
        width: 300px;
        left: 1.5em;
        top: 3em;
    }
}